<h3>注文情報入力</h3>

<div><strong>支払方法</strong></div>
<div><strong>お届け先</strong></div>
<p>ご自身の住所</p>
<%=@customer.adress %><br>
<%=@customer.first_name %><%=@customer.last_name %>
<p>登録済住所から選択</p>
<p>新しいお届け先</p>
